@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
  font-family: "Press Start 2P", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: black;
}

body {
  position: relative;
}

button {
  font-family: "Press Start 2P", sans-serif;
  appearance: none;
  background-color: #9e2521;
  color: white;
  font-size: 12px;
  padding: 10px 15px;
  box-shadow: none;
  border: none;
  cursor: pointer;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.instructions-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  display: none;

  .instructions {
    margin-top: 100px;
    max-width: 900px;
    width: 100%;
    height: 600px;
    display: inline-block;
    border: 0;
  }
}

body.show-instructions {
  .instructions-container {
    display: block;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: .4;
  background-image: url(/images/logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

#editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: transparent;
  font-size: 14px;
  line-height: 2rem;
  transform: translate3d(0, 0, 0);

  .ace_comment {
    color: #0dfdff;
    display: inline-block;
    animation: grow 1.5s infinite both;
  }

  .ace_gutter {
    background: rgba(0, 0, 0, 0.5);
  }

  .ace_constant,
  .ace_constant.ace_character,
  .ace_constant.ace_character.ace_escape,
  .ace_constant.ace_other,
  .ace_string {
    color: #f9ff00;
    animation: pulse 1.5s infinite both;
  }
}

.streak-container {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
  text-align: right;

  .current {
    color: white;
    font-size: 16px;
  }

  .bar {
    position: relative;
    opacity: 0.5;
    margin-top: 23px;
    height: 8px;
    background: #9e2521;
    width: 100%;
    transform: scaleX(0);
  }

  .counter {
    font-size: 80px;
    color: #9e2521;
    padding-top: 30px;

    &.bump {
      animation: grow 0.25s both;
    }
  }

  .exclamations {
    position: absolute;
    bottom: -20px;
    right: 0;
    display: block;
    color: #f00;
    opacity: 0.75;
    font-size: 30px;
    text-align: right;

    .emoji {
      font-size: 70px;
    }

    .exclamation {
      right: 0;
      top: 0;
      display: block;
      position: absolute;
      min-width: 200px;
      animation: exclamation 1.5s ease-out both;
    }
  }
}

.button-bar {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}

.finish-button {
  float: right;
  margin-left: 10px;
}

.instructions-button {
  float: right;
}

.reference-screenshot-container {
  position: absolute;
  z-index: 50;
  bottom: 62px;
  right: 20px;
  cursor: pointer;
  color: white;
  text-align: right;
  font-size: 12px;
  box-sizing: border-box;
  backdrop-filter: blur(5px);

  .reference-screenshot {
    width: 200px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &.active {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 25px;

    .reference-screenshot {
      width: 100%;
      height: 100%;
      margin-top: 0;
      background-size: contain;
    }

    span {
      display: none;
    }
  }
}

.name-tag {
  position: absolute;
  z-index: 40;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  background: rgba(#9e2521, .5);
  color: white;
  font-size: 40px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.result {
  display: none;
  background: white;
  z-index: 3555;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@keyframes pulse {
  0% {
    animation-timing-function: ease-out;
  }
  50% {
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}

@keyframes grow {
  0% {
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in;
  }
}

@keyframes exclamation {
  100% {
    opacity: 0;
    transform: translate3D(0, 100px, 0);
  }
}

